<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Billboard of dad jokes</title>
        <link rel="stylesheet" href="public/styles.css">
    </head>
    <body>
        <div class="container">
            <nav>
                <a href="/">Home</a>
                <a href="/addJoke">Add joke</a>
            </nav>
            <h1>Billboard of dad jokes</h1>
            <p>Hey, welcome to the billboard of dad jokes. Here we are going to show you 
            some jokes that people can add to this page. Looking below, you'll see some jokes
            that people thought should be added to this page. 
            </p>
            <%- jokes%>
        </div>
    </body>
</html>