<!doctype html>
<html lang="en">
    <head>
        <title>Course Web Page</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Course Information</h1>
        <p>
            Additional information for the
            <strong><%= semester %></strong> semester
            taught by <strong><%= teacher %></strong> is
            available on the CS Dept web site.
        </p>
    </body>
</html>