<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Course Web Page</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Introduction (<%= semester %>)</h1>
        <p>
            The usual greeting is <em><%= greeting %></em>
        </p>
    </body>
</html>