<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin GFA</title>
    </head>
    <h1>Display GFAs Greater than or equal to </h1>
    <form action="../processAdminGFA" method="POST">
        GPA: <input type="text" name="gpa">
        <button type="submit">Submit Request</button>
    </form>
    
    <hr>
    <a href="../">HOME</a>
</html>