<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Remove All</title>
        
    </head>
    <h1>Removing All Applicants</h1>
    <form action="../removeAll" method="post">
        <button type="submit">Remove all applicants</button>
    </form>
    
    <hr>
    <a href="../">HOME</a>
</html>