<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Summer Camp</title>
    </head>
    <h1>Welcome to Terps Summer Camp</h1>
    
    <h2>Applicant</h2>
    <ul>
        <li>To apply, select <a href="/apply">Application</a></li>
        <li>To review/update an application select <a href="/reviewApplication">Review Application</a></li>
    </ul>
    <hr>
    <h2>Admin</h2>
    <ul>
        <li>To select users based on gpa <a href="/adminGFA">Select by GPA</a></li>
        <li>To remove all applications <a href="/adminRemove">Remove All Applications</a></li>
    </ul>
    <hr>
</html>