<!DOCTYPE html>
<html lang="en">
    <head>
        <title>process Admin GFA</title>
    </head>
    <h1>Display GFAs Greater than or Equal to</h1>
    
    <%- tab %>
    <br>
    <a href="../">HOME</a>
</html>