<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Remove All</title>
        
    </head>
    <h1>Removing of All Applications</h1>
    <p>All applications have ben removed from the database. Number of applications
        removed: <%- num%>
    </p>
    <br>
    
    <hr>
    <a href="../">HOME</a>
</html>