<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Application</title>
    </head>
    <h1>Review Application</h1>
    <form action="../reviewApplicationInfo" method="POST">
        <fieldset>
            Email Address: <input type="email" id="email" name="email">
        </fieldset>
        <br>
        <button type="reset">Reset</button>
        <button type="submit" id="submit">Submit Request</button>
    </form>
    
    <hr>
    <a href="../">HOME</a>
</html>