<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Order Confirmation</title>
</head>

<body>
	<h1>Items Available</h1>
	<div>
		<%- itemsTable %>
	</div>
</body>

</html>
