<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terps Supermarket</title>
</head>

<body>
	<h1>Welcome to Terps Supermarket</h1>

	To see our catalog select <a href="/catalog">Catalog</a><br><br>
	To place an order select <a href="/order">Place Order</a><br>
	<hr>
</body>

</html>
