<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Order Confirmation</title>
</head>

<body>
	<h1>Order Confirmation</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>Delivery Method: </strong><%- delivery %><br>
		<h3>Order</h3>
		<%- orderTable %>
		<br>
		<em>Thank you for your order!!!</em>
	</div>
</body>

</html>
